.instructions {
    background-color: aqua;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-gap: 5px;
}

.controls {
    background-color: aqua;
}

#tile {
    border-radius: 5px;
    background-image: url("./assets/5.png");
    background-size: cover;
}

