body {

}

.frame {
    display: grid;
    height: 1000px;
    width: 800px;
    grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-template-areas:
      "instructions instructions instructions instructions instructions instructions instructions instructions"
      "board board board board board board board board"
      "board board board board board board board board"
      "board board board board board board board board"
      "board board board board board board board board"
      "board board board board board board board board"
      "board board board board board board board board"
      "board board board board board board board board"
      "board board board board board board board board"
      "controls controls controls controls controls controls controls controls";
}

.instructions {
    background-color: aqua;
    grid-area: instructions;
}

.board {
  background-image: url(./assets/5.png);
  grid-area: board;
}

.controls {
    background-color: aqua;
    grid-area: controls;
}

.cat {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.dog {
  grid-column: 8 / 8;
  grid-row: 9 / 9;
}
