body {
    
}

.frame {
    display: grid;
    height: 1000px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.instructions {
    grid-column: 1/9;
    grid-row: 1;
    background-color: aqua;
}

.board {
    
}

.controls {
    grid-column: 1/9;
    grid-row: 9;
    background-color: aqua;
}